@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&family=Roboto:wght@300;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-blue-500 hover:bg-blue-700 focus:ring-blue-400 rounded-lg py-2 px-4 font-semibold text-white shadow-md focus:outline-none focus:ring-2 focus:ring-opacity-75;
  }

  input:checked + .outer {
    background-color: "black";
  }
  input:checked + .outer .inner {
    transform: translate(-120px, 0);
  }

  label {
    cursor: pointer;
  }
}
